<div class="container">
<div *ngIf="checksignin()" class="row" class="col-md-8 col-md-offset-2">
    <p class="text-info">Once you leave the component the messages will clear</p>
  <div class="split left">
  <h2 class="text-danger">Friendslist</h2>
   <userlist [userlist]="Userlist" [unreadmessages]="unreadmessages" (sendinguser)="onReceivingmessage($event)"></userlist>
   
 </div>

 <div class="split right">

  <div id="messagesarea" class="jumbotron">
  <div id="messageheader" class="panel">
  <div class="panel-body"><p>Send Messages</p><p class="text-primary" *ngIf="isUserNameNotPresent()">To Your Friends"</p><p classs="text-info" *ngIf="isUserNamePresent()">To {{username}} </p></div>
  </div>
  <div id="messages" class="container" *ngFor="let message of messages">
    <span class="time-right" *ngIf="message">{{message.from}}</span>
    <p *ngIf="message">{{message.msg}}</p>
  </div>
  </div>
    <div class="messageform">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
        <input type="text" class="form-control" id="message"[ngModel]="outputmessage" 
        name="outputmessage" placeholder="Typemesssage..." required>
        </div>
        <button [disabled]="disable" type="submit" class="btn btn-success">submit</button>
    </form>
    </div>
  </div>
</div>
<div *ngIf="checksignout()">
    <p class="text-warning">Go to signin and come back</p>
</div>
</div>


